./__pycache__
./data
./good
./mlp_runs
./runs
./save
./transformer_runs
./triton
./vllm
./scgpt 

environment.yml
finetune_PBMC.ipynb
finetune_SEAAD_1.ipynb
finetune_SEAAD.ipynb

requirements.txt
SEAAD_A9_RNAseq_DREAM.2025-07-15.h5ad